{% extends "base.html.twig" %}


{% block body %}
    <section>
        <p>Id : {{ user.id }}</p>
        <p>Email : {{ user.email }}</p>
        <p>Mot de passe : {{ user.password }}</p>
        <a href="{{ path('user_delete', { 
            'id': user.id,
            'method': 'DELETE'

        }) }}" class="inline-flex items-center bg-gray-800 border-0 py-1 px-3 focus:outline-none hover:bg-gray-700 rounded text-base mt-4 md:mt-0">Supprimer</a>
    </section>
{% endblock %}